
Drunkdriveisfun/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Drunkdriveisfun/Logs/shadercompiler-AssetImportWorker0.log
Drunkdriveisfun/Logs/AssetImportWorker1.log
Drunkdriveisfun/Logs/AssetImportWorker1-prev.log
Drunkdriveisfun/Logs/AssetImportWorker0.log
Drunkdriveisfun/Logs/AssetImportWorker0-prev.log
Drunkdriveisfun/Library/SourceAssetDB
Drunkdriveisfun/Library/SceneVisibilityState.asset
Drunkdriveisfun/Library/ilpp.pid
Drunkdriveisfun/Library/Bee/TundraBuildState.state.map
Drunkdriveisfun/Library/Bee/TundraBuildState.state
Drunkdriveisfun/Library/Bee/tundra.log.json
Drunkdriveisfun/Library/Bee/tundra.digestcache
Drunkdriveisfun/Library/Bee/fullprofile.json
Drunkdriveisfun/Library/Bee/backend1.traceevents
Drunkdriveisfun/Library/ArtifactDB
