
Drunkdriveisfun/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Drunkdriveisfun/Logs/shadercompiler-AssetImportWorker0.log
Drunkdriveisfun/Logs/AssetImportWorker1.log
Drunkdriveisfun/Logs/AssetImportWorker1-prev.log
Drunkdriveisfun/Logs/AssetImportWorker0.log
Drunkdriveisfun/Logs/AssetImportWorker0-prev.log
Drunkdriveisfun/Library/SourceAssetDB
Drunkdriveisfun/Library/SceneVisibilityState.asset
Drunkdriveisfun/Library/ilpp.pid
Drunkdriveisfun/Library/Bee/TundraBuildState.state.map
Drunkdriveisfun/Library/Bee/TundraBuildState.state
Drunkdriveisfun/Library/Bee/tundra.log.json
Drunkdriveisfun/Library/Bee/tundra.digestcache
Drunkdriveisfun/Library/Bee/fullprofile.json
Drunkdriveisfun/Library/Bee/backend1.traceevents
Drunkdriveisfun/Library/ArtifactDB
Drunkdriveisfun/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Drunkdriveisfun/Library/SourceAssetDB
Drunkdriveisfun/Library/Search/transactions.db
Drunkdriveisfun/Library/ArtifactDB
Drunkdriveisfun/Library/ArtifactDB
Drunkdriveisfun/Library/Bee/1900b0aE-inputdata.json
Drunkdriveisfun/Library/Bee/1900b0aE.dag
Drunkdriveisfun/Library/Bee/1900b0aE.dag.json
Drunkdriveisfun/Library/Bee/1900b0aE.dag.payloads
Drunkdriveisfun/Library/Bee/1900b0aE.dag_derived
Drunkdriveisfun/Library/Bee/1900b0aE.dag_fsmtime
Drunkdriveisfun/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Drunkdriveisfun/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Drunkdriveisfun/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.rsp
Drunkdriveisfun/Library/Bee/backend1.traceevents
Drunkdriveisfun/Library/Bee/backend2.traceevents
Drunkdriveisfun/Library/Bee/buildprogram0.traceevents
Drunkdriveisfun/Library/Bee/fullprofile.json
Drunkdriveisfun/Library/Bee/tundra.digestcache
Drunkdriveisfun/Library/Bee/tundra.log.json
Drunkdriveisfun/Library/Bee/TundraBuildState.state
Drunkdriveisfun/Library/Bee/TundraBuildState.state.map
Drunkdriveisfun/Library/EditorOnlyScriptingSettings.json
Drunkdriveisfun/Library/ilpp.pid
Drunkdriveisfun/Library/LastSceneManagerSetup.txt
Drunkdriveisfun/Library/PackageManager/ProjectCache
Drunkdriveisfun/Library/PackageManager/ProjectCache.md5
Drunkdriveisfun/Library/SceneVisibilityState.asset
Drunkdriveisfun/Library/ScriptAssemblies/Assembly-CSharp.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.EditorCoroutines.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.Performance.Profile-Analyzer.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.Settings.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.Timeline.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.Core.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.Flow.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.Flow.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.SettingsProvider.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.Shared.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.State.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualScripting.State.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Drunkdriveisfun/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Drunkdriveisfun/Library/ScriptAssemblies/UnityEditor.UI.dll
Drunkdriveisfun/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Drunkdriveisfun/Library/ScriptAssemblies/UnityEngine.UI.dll
Drunkdriveisfun/Library/Search/transactions.db
Drunkdriveisfun/Library/SourceAssetDB
Drunkdriveisfun/Library/StateCache/MainStageHierarchy/cd/cda0ddc25e6f8fe6cacbcbc796f63eac.json
Drunkdriveisfun/Library/StateCache/SceneView/24/243e68601bda1d8eca3875c0da350029.json
Drunkdriveisfun/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Drunkdriveisfun/ProjectSettings/ProjectSettings.asset
Drunkdriveisfun/UserSettings/Layouts/default-2022.dwlt
